Source: neos
Priority: optional
Maintainer: Mehdi Dogguy <mehdi.dogguy@edf.fr>
Build-Depends:
 debhelper (>= 8)
Build-Depends-Indep:
 perl (>= 5.10)
Standards-Version: 3.9.3
Section: devel
Vcs-Browser: http://clay08ib.cla.edfgdf.fr/ccn-hpc-svn/iq/scripts/neos
Vcs-Svn: http://clay08ib.cla.edfgdf.fr/ccn-hpc-svn/iq/scripts/neos

Package: neos
Architecture: all
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${perl:Depends},
 perl-modules,
 libfile-slurp-perl,
 libfile-chmod-perl,
 libconfig-general-perl,
 libslurm-perl,
 libcrypt-generatepassword-perl
Description: Resource reservation scripts through Slurm
 This package contains a program called Neos which eases the execution
 of defined sequence of actions on a Slurm cluster. For example,
 starting a graphical environment for users, prepare and start a
 visualization framework (like Paraview or Salome) for remote use.
 .
 Neos features a generic scenario mechanism and can be extended easily
 with new scenarios.
 .
 This package should be installed on all nodes (frontends as well as compute
 nodes).

Package: slurm-llnl-neos-plugin
Architecture: all
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${perl:Depends},
 slurm-llnl-generic-scripts-plugin,
 neos
Description: Resource reservation scripts through Slurm
 This package contains a program called Neos which eases the execution
 of defined sequence of actions on a Slurm cluster. For example,
 starting a graphical environment for users, prepare and start a
 visualization framework (like Paraview or Salome) for remote use.
 .
 Neos features a generic scenario mechanism and can be extended easily
 with new scenarios.
 .
 This package contains necessary plumbing in order to plug Neos into an
 existing Slurm cluster.
